/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  font-family: 'Roboto', sans-serif, 微軟正黑體;
  // border: solid 1px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ECF0F1;
  color: #555;
  font-size: 16px;
  transition: 0.5s;
}

.btn_new {
  &:hover {
    background-color: #FCC29A;
    color: #fff;
  }
}

.btn.btn_save {
  display: block;
  margin-top: 10px;

  &:hover {
    background-color: #fc9ae1;
    color: #fff;
  }
}


.search {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding: 10px 15px;
  outline: none;
  border: solid 1px #999;
  border-radius: 5px;
  font-size: 16px;
}

.new_container {
  // padding: 10px;
  font-size: 16px;
  margin-top: 10px;


  .title {
    width: 70%;
    padding: 10px 8px;
    border: solid 1px #999;
    outline: none;
  }

  .text {
    width: 70%;
    height: 250px;
    max-width: 100%;
    padding: 10px 8px;
    margin-top: 10px;
    border: solid 1px #999;
    outline: none;
  }
}

.display_outer {
  background-color: #FCC29A;
  height: 250px;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px;
  position: relative;
  box-shadow: 0px 1px 10px rgba(#000,0.2);
  overflow: hidden;
  box-sizing: border-box;

  &:hover {
    .editor_box {
      opacity: 1;
    }
  }
}

.editor_box {
  position: absolute;
  right: 10px;
  top: 5px;
  width: initial;
  opacity: 0;
  transition: 0.5s;

  .delete_btn, .edit_btn {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    background-color: #f9c2ea;
    cursor:pointer;
    box-shadow: 0px 1px 10px rgba(#000,0.2);
    border: solid 1px rgba(#000,0.1);

    &:hover {
      background-color: #f68fda;
      i {
        color: #fff;
      }
    }
  }

  i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #555;
    transition: 0.5s;
  }
}

.display_inner {
  // padding: 15px 20px;
  height: calc(250px - 15px - 15px);
  overflow: hidden;
  text-align: left;

  .display_title {
    // margin: 0px;
    width: 80%;
    height: 50px;
    color: #fff;
    font-weight: 700;
  }

  .display_text {
    width: 100%;
    // height: 80px;
    overflow: hidden;
    margin-top: 40px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
  }
}
