//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900")
  link(rel="stylesheet", href="css/screen.css")
  title Switchable Grid
body
  #app
    .bar
      .icon.fa.fa-list(v-bind:class="{'active': layout=='list'}", @click="layout='list'")
      .icon.fa.fa-table(v-bind:class="{'active': layout=='grid'}", @click="layout='grid'")
    ul.grid(v-if="layout=='grid'")
      li(v-for="a in articles")
        img(v-bind:src="a.image")
      
    ul.list(v-if="layout=='list'")
      li(v-for="a in articles")
        img(v-bind:src="a.image")
        p {{a.title}}
  
  
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="switchable-grid.js")
  
