@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 'Roboto', sans-serif, 微軟正黑體;
}

/* line 14, ../scss/screen.scss */
body {
  padding: 40px;
  height: 100vh;
}

/* line 19, ../scss/screen.scss */
.row {
  padding: 0px;
}

/* line 23, ../scss/screen.scss */
.scroll_able_information {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 100px;
  background-color: #fafafa;
  padding: 20px;
  padding-top: 0px;
}
@media screen and (max-width: 767px) {
  /* line 23, ../scss/screen.scss */
  .scroll_able_information {
    height: 40vh;
  }
}

/* line 35, ../scss/screen.scss */
.scroll_able_eachroom {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  /* line 35, ../scss/screen.scss */
  .scroll_able_eachroom {
    margin-top: 15px;
    height: 60vh;
  }
}

/* line 45, ../scss/screen.scss */
.room_information {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 51, ../scss/screen.scss */
.rooms_price, .rooms_tip {
  width: 90%;
}

/* line 55, ../scss/screen.scss */
.toggle_check {
  display: none;
  max-height: 120px;
}

/* line 59, ../scss/screen.scss */
.toggle_check:checked + .edit_part {
  max-height: 500px;
}

/* line 63, ../scss/screen.scss */
.room_edit_name {
  font-weight: 900;
  color: #555;
}

/* line 68, ../scss/screen.scss */
.room_edit {
  border: solid 1px #eee;
  padding: 10px;
  border-left: solid 4px #ccc;
}
/* line 73, ../scss/screen.scss */
.room_edit .room_tag {
  display: block;
  cursor: pointer;
}
/* line 77, ../scss/screen.scss */
.room_edit label {
  margin: 0px;
}
/* line 80, ../scss/screen.scss */
.room_edit .edit_part {
  max-height: 0px;
  overflow: hidden;
}
/* line 84, ../scss/screen.scss */
.room_edit .delete_btn {
  float: right;
  cursor: pointer;
  font-size: 20px;
  width: 20px;
}
/* line 89, ../scss/screen.scss */
.room_edit .delete_btn:hover {
  color: #DB4343;
}

/* line 95, ../scss/screen.scss */
.add_room {
  cursor: pointer;
  font-size: 18px;
}
/* line 98, ../scss/screen.scss */
.add_room:hover {
  background-color: #555;
  color: #fff;
}

/* line 104, ../scss/screen.scss */
.room_container {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  margin: 20px 5px;
  cursor: pointer;
  height: 300px;
}
/* line 109, ../scss/screen.scss */
.room_container:hover {
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}
/* line 111, ../scss/screen.scss */
.room_container:hover .cover {
  background-size: 110%;
}
/* line 114, ../scss/screen.scss */
.room_container:hover .delete_img_btn {
  opacity: 1;
}
/* line 119, ../scss/screen.scss */
.room_container .delete_img_btn {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 16px;
  opacity: 0;
  transition: 0.5s;
}
/* line 127, ../scss/screen.scss */
.room_container .delete_img_btn:hover {
  color: #DB4343;
}
/* line 132, ../scss/screen.scss */
.room_container .cover {
  position: relative;
  height: 150px;
  background-color: #eee;
  background-size: 100%;
  background-position: center center;
  transition: 0.5s;
}
/* line 140, ../scss/screen.scss */
.room_container .cover h3 {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  padding: 6px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* line 151, ../scss/screen.scss */
.info {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  /* line 157, ../scss/screen.scss */
  .info .icons {
    display: block;
    padding-left: 0px;
  }
  /* line 161, ../scss/screen.scss */
  .info i {
    font-size: 14px;
    display: inline-block;
  }
  /* line 165, ../scss/screen.scss */
  .info h3, .info s, .info span {
    font-size: 18px;
  }
}
/* line 171, ../scss/screen.scss */
.icons {
  padding-left: 5px;
  vertical-align: middle;
}
/* line 174, ../scss/screen.scss */
.icons i {
  margin-left: 5px;
  color: #777;
}

/* line 180, ../scss/screen.scss */
.final_price {
  float: right;
  font-size: 24px;
  color: #DB4343;
}
/* line 184, ../scss/screen.scss */
.final_price:after {
  content: "$";
}
