@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 微軟正黑體;
}

/* line 13, ../scss/screen.scss */
html, body {
  padding-right: 20px;
  padding-right: 20px;
}

/* line 18, ../scss/screen.scss */
.highlight {
  background-color: #ffa022;
  color: white;
  padding: 5px;
}
