//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="index.css")
  title Vue.js Starter's Project
body
  h1 Vue.js Starter's Project
  .container
    a(href="01 - sass-color-variables/index.html" target="_blank") <br>
      h3 Sass Color Variables
    a(href="02 - hotel-management/index.html" target="_blank") <br>
      h3 Hotel Management Page
    a(href="03 - taiwan-weather-map/index.html" target="_blank") <br>
      h3 Taiwan Weather Map
    a(href="04 - slogan-slideshow/index.html" target="_blank") <br>
      h3 Vue.js Slideshow
    a(href="05 - keyword-search/index.html" target="_blank") <br>
      h3 Keyword Search
    a(href="06 - iOS-calendar/index.html" target="_blank") <br>
      h3 iOS Calendar
    a(href="07 - dial-code-search/index.html" target="_blank") <br>
      h3 Dial Code Search
    a(href="08 - swtichable-grid/index.html" target="_blank") <br>
      h3 Swtichable Table
    a(href="09 - keep-your-notes/index.html" target="_blank") <br>
      h3 Vue.js Note with Local Storage
    a(href="10 - vue-table/index.html" target="_blank") <br>
      h3 Vue.js Table
