@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 微軟正黑體;
}

/* line 13, ../scss/screen.scss */
html, body {
  padding: 20px;
}

/* line 17, ../scss/screen.scss */
.search {
  width: 80%;
  min-width: 270px;
  display: inline-block;
  vertical-align: middle;
}

/* line 24, ../scss/screen.scss */
.clear {
  width: 60px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
/* line 29, ../scss/screen.scss */
.clear:hover {
  background-color: #fea022;
  color: #fff;
}

/* line 35, ../scss/screen.scss */
.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 40, ../scss/screen.scss */
table {
  margin-top: 15px;
}
/* line 43, ../scss/screen.scss */
table thead tr th {
  cursor: pointer;
}
/* line 47, ../scss/screen.scss */
table thead tr th:nth-child(1) {
  width: 80px;
}
/* line 51, ../scss/screen.scss */
table thead tr th:nth-child(2) {
  width: 240px;
}
/* line 55, ../scss/screen.scss */
table thead tr th:nth-child(3) {
  width: 350px;
}
/* line 59, ../scss/screen.scss */
table thead tr th:nth-child(4) {
  width: 200px;
}

/* line 64, ../scss/screen.scss */
.btn-group {
  background-color: transparent;
  border: solid 1px #e4e4e4;
  padding: 5px 10px;
  width: 40px;
  height: 30px;
  margin-bottom: 3px;
  text-align: center;
}
/* line 73, ../scss/screen.scss */
.btn-group:first-child {
  border-radius: 5px 0px 0px 5px;
}
/* line 77, ../scss/screen.scss */
.btn-group:last-child {
  border-radius: 0px 5px 5px 0px;
}
/* line 81, ../scss/screen.scss */
.btn-group:hover {
  background-color: #fea022;
  color: #fff;
}

/* line 87, ../scss/screen.scss */
.highlight {
  background-color: #fea022;
  color: white;
  padding: 3px 2px;
}

/* line 93, ../scss/screen.scss */
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 1;
}

/* line 102, ../scss/screen.scss */
.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #000;
}

/* line 108, ../scss/screen.scss */
.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
}
