//output:index.html

doctype
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900")
    link(rel="stylesheet", href="css/screen.css")
    title V-Website Notes
  body
    #app.container
      .row
        .col-sm-12
          h1.information V-Website Notes
      .row
        .col-sm-12
          input.form-control.enter_input(placeholder="Enter your notes")
          button.btn.btn-outline-info.submit_btn New
      .row
    
    
    
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="v-note.js")
