//output:index.html

doctype
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900")
    link(rel="stylesheet", href="css/screen.css")
    title Keep Notes
  body
    #app.container
      .row
        .col-sm-12
          h1.information Keep Your Notes
      hr
      .row
        .col-sm-12
          button.btn.btn_new(@click="add_new_note") New
        .col-sm-12
          input.search(placeholder="Enter your notes")
        .col-sm-12
          .new_container(v-for="(note, id) in notes",
                        @click.stop,
                        v-if="show_note")
            input.title(placeholder="Note Title",
                        v-model="note.title")
            textarea.text(placeholder="This is my note...",
                          v-model="note.text")
            button.btn.btn_save(@click="hide_edit_note") Save
        hr
        .col-lg-4.col-md-4.col-sm-6.col-12.display(v-for="(note, id) in notes")
          .display_outer
            .editor_box
              .delete_btn(@click="delete_note(id)")
                i.fa.fa-trash-o
              .edit_btn(@click.stop="toggle_edit_note")
                i.fa.fa-pencil
            .display_inner
              .test {{id}}
              h3.display_title {{(note.title).substring(0,12)}}...
              p.display_text {{note.text}}
            
      
      //- template#new_container
      
        
        
          
    
    
    
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="v-note.js")
