<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900">
    <link rel="stylesheet" href="css/screen.css">
    <title>Keep Notes</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="information">Keep Your Notes</h1>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <button @click="add_new_note" class="btn btn_new">New</button>
        </div>
        <div class="col-sm-12">
          <input placeholder="Enter your notes" class="search">
        </div>
        <div class="col-sm-12">
          <div v-for="(note, id) in notes" @click.stop v-if="show_note" class="new_container">
            <input placeholder="Note Title" v-model="note.title" class="title">
            <textarea placeholder="This is my note..." v-model="note.text" class="text"></textarea>
            <button @click="hide_edit_note" class="btn btn_save">Save</button>
          </div>
        </div>
        <hr>
        <div v-for="(note, id) in notes" class="col-lg-4 col-md-4 col-sm-6 col-12 display">
          <div class="display_outer">
            <div class="editor_box">
              <div @click="delete_note(id)" class="delete_btn"><i class="fa fa-trash-o"></i></div>
              <div @click.stop="toggle_edit_note" class="edit_btn"><i class="fa fa-pencil"></i></div>
            </div>
            <div class="display_inner">
              <h3 class="display_title">{{(note.title).substring(0,12)}}...</h3>
              <p class="display_text">{{note.text}}</p>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      
      
      
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="v-note.js"></script>
  </body>
</html>