@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 'Roboto', sans-serif, 微軟正黑體;
}

/* line 14, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 18, ../scss/screen.scss */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #ECF0F1;
  color: #555;
  font-size: 16px;
  transition: 0.5s;
}

/* line 30, ../scss/screen.scss */
.btn_new:hover {
  background-color: #FCC29A;
  color: #fff;
}

/* line 36, ../scss/screen.scss */
.btn.btn_save {
  display: block;
  margin-top: 10px;
}
/* line 40, ../scss/screen.scss */
.btn.btn_save:hover {
  background-color: #fc9ae1;
  color: #fff;
}

/* line 47, ../scss/screen.scss */
.search {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding: 10px 15px;
  outline: none;
  border: solid 1px #999;
  border-radius: 5px;
  font-size: 16px;
}

/* line 58, ../scss/screen.scss */
.new_container {
  font-size: 16px;
  margin-top: 10px;
}
/* line 64, ../scss/screen.scss */
.new_container .title {
  width: 70%;
  padding: 10px 8px;
  border: solid 1px #999;
  outline: none;
}
/* line 71, ../scss/screen.scss */
.new_container .text {
  width: 70%;
  height: 250px;
  max-width: 100%;
  padding: 10px 8px;
  margin-top: 10px;
  border: solid 1px #999;
  outline: none;
}

/* line 82, ../scss/screen.scss */
.display_outer {
  background-color: #FCC29A;
  height: 250px;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 10px;
  position: relative;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
}
/* line 94, ../scss/screen.scss */
.display_outer:hover .editor_box {
  opacity: 1;
}

/* line 100, ../scss/screen.scss */
.editor_box {
  position: absolute;
  right: 10px;
  top: 5px;
  width: initial;
  opacity: 0;
  transition: 0.5s;
}
/* line 108, ../scss/screen.scss */
.editor_box .delete_btn, .editor_box .edit_btn {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  background-color: #f9c2ea;
  cursor: pointer;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border: solid 1px rgba(0, 0, 0, 0.1);
}
/* line 120, ../scss/screen.scss */
.editor_box .delete_btn:hover, .editor_box .edit_btn:hover {
  background-color: #f68fda;
}
/* line 122, ../scss/screen.scss */
.editor_box .delete_btn:hover i, .editor_box .edit_btn:hover i {
  color: #fff;
}
/* line 128, ../scss/screen.scss */
.editor_box i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #555;
  transition: 0.5s;
}

/* line 139, ../scss/screen.scss */
.display_inner {
  height: calc(250px - 15px - 15px);
  overflow: hidden;
  text-align: left;
}
/* line 145, ../scss/screen.scss */
.display_inner .display_title {
  width: 80%;
  height: 50px;
  color: #fff;
  font-weight: 700;
}
/* line 153, ../scss/screen.scss */
.display_inner .display_text {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  text-align: justify;
  font-size: 16px;
  line-height: 1.5;
}
