@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../scss/screen.scss */
* {
  font-family: 'Roboto', sans-serif, 微軟正黑體;
  border: solid 1px #000;
}

/* line 18, ../scss/screen.scss */
.room_container {
  padding: 20px;
}
/* line 21, ../scss/screen.scss */
.room_container .cover {
  position: relative;
  height: 150px;
  background-color: #eee;
}
/* line 26, ../scss/screen.scss */
.room_container .cover h3 {
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  padding: 6px 20px;
  background-color: #fff;
}

/* line 36, ../scss/screen.scss */
.info {
  padding: 10px;
}
