<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900">
    <link rel="stylesheet" href="css/screen.css">
    <title>test</title>
  </head>
  <body>
    <div id="app" class="container">
      <div v-for="(note,id) in notes" class="display_box">
        <div class="num">{{id+1}}</div>
        <div v-if="note.editMode" class="title">
          <input v-model="note.title">
        </div>
        <div v-else class="title_display">{{note.title}}</div>
        <div v-if="note.editMode" class="test">
          <input v-model="note.text">
        </div>
        <div v-else class="text_display">{{note.text}}</div>
        <button>remove</button>
        <button @click="edit(note)">edit</button>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="test.js"></script>
  </body>
</html>