//output:index.html

doctype
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900")
    link(rel="stylesheet", href="css/screen.css")
    title Keep Notes📔
  body
    #app
      .row
        .col-sm-12
          h4.information Keep Your Notes 📔  with Local Storage 📦
      br
      .container
        .row
          .col-sm-1.col-md-1.col-lg-1
            button.btn.btn_new(@click="add_new_note") New
          .col-sm-11.col-md-11.col-lg-11
            input.search(placeholder="Search your notes",
                          v-model="searchString")
        hr
        .row.display
          .col-lg-4.col-md-4.col-sm-6.col-12(v-for="(note, id) in filterNotes")
            .display_outer
              .editor_box
                .delete_btn(@click="delete_note(id)")
                  i.fa.fa-trash-o
                .edit_btn(@click.stop="edit(note)")
                  i.fa.fa-pencil
              .display_inner
                .title_edit(v-if="note.editMode")
                  textarea.title(placeholder="Note Title",
                              v-model="note.title")
                h3.display_title(v-else) {{(note.title).substring(0,15)}}
                .text_edit(v-if="note.editMode")
                  textarea.text(placeholder="This is my note...",
                            v-model="note.text")
                p.display_text(v-else) {{(note.text).substring(0,60)}}
              
        
        //- template#new_container
      
        

    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="v-note.js")
