/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  font-family: 微軟正黑體;
}

html, body {
  padding-right: 20px;
  padding-right: 20px;
}

.red {
  background-color: #ffa022;
  color: white;
  padding: 5px;
}
