//output:test.html

doctype
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900")
    link(rel="stylesheet", href="css/screen.css")
    title test
  body
    #app.container
      .display_box(v-for="(note,id) in notes")
        .num {{id+1}}
        .title(v-if="note.editMode")
          input(v-model="note.title")
        .title_display(v-else) {{note.title}}
        .test(v-if="note.editMode")
          input(v-model="note.text")
        .text_display(v-else) {{note.text}}
        button remove
        button(@click="edit(note)") edit
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/vue/dist/vue.js")
    script(src="test.js")
