//output:index.html

doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  link(rel="stylesheet", href="css/screen.css")
  title Vue.js Table
body
  .container
    #app
      h2 Vue Table
      input.form-control.search(placeholder="Search any ID or information",
                         v-model="search_key",
                         @keyup="keymonitor")
      button.btn.btn-default.clear(@click="clearSearch") Clear
      .form-group
        button.btn-group(v-for="page in page_total", @click="page_index=page-1") {{page}}
      .currentPage {{search_key}}
      table.table
        thead
          th #
          th Name
          th email
          th Country
        tbody
          tr(v-for="data in sliced_table_data")
            td(v-html="data.id")
            td(v-html="data.first_name + ' ' + data.last_name")
            td(v-html="data.email")
            td(v-html="data.country")
    
    //-     lazytable(v-for="data in idData",
    //-               :table_data="data",
    //-               :key="data.id",
    //-               :columns="columns")
    //- 
    //- 
    //- //定義表單組件
    //- template#table_template
    //-   tbody
    //-     tr
    //-       td test
        
      
  
  script(src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="vue-table.js")  
  
