/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  font-family: 微軟正黑體;
  // border: solid 1px #000;
}

html, body {
  padding: 20px 10px;
}

.keyword {

}

.postbox {
  padding: 10px;
  margin-bottom: 30px;
  &:hover {
    .img {
      background-size: 120% auto;
    }
  }
}

.postbox_inner {
  border: solid 1px rgba(#000, 0.1);
  padding: 10px 10px;
  // height: 300px;
  cursor: pointer;

  .img {
    height: 170px;
    background-size: 110% auto;
    background-position: center center;
    transition: 0.5s;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
  }

  .infos {
    padding: 10px;
  }

  p {
    font-size: 15px;
    line-height: 24px;
  }
}

.highlight {
  background-color: #f24;
  color: #fff;
  padding: 0px 5px;
}
