/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  font-family: 微軟正黑體;
  // border: solid 1px #000;
}

h1 {
  font-weight: bold;
}

.container {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
}

.search_input {
  outline: none;
  margin: 10px auto;
  height: 50px;
  padding: 5px;
  padding-left: 50px;
  font-size: 18px;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.search_country {
  margin: 5px auto;
  padding: 15px 10px;
  border-bottom: solid 1px #f1f1f1;
  font-size: 16px;
  position: relative;

  .name {
    color: #fff;
    background-color: rgba(#ff5414, 0.8);
    padding: 3px;
    font-weight: bold;
    margin-right: 5px;
  }

  .dial_cod {
    color: #333;
  }

  .code {
    font-weight: bold;
    position: absolute;
    right: 15px;
    padding: 3px;
    color: #ff5414;
  }
}
