/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// @import "compass/reset";
@charset "UTF-8";

* {
  font-family: 微軟正黑體;
}

html, body {
  padding-right: 20px;
  padding-right: 20px;
}

.search {
  width: 80%;
  min-width: 270px;
  display: inline-block;
  vertical-align: middle;
}

.clear {
  width: 60px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    background-color: #fea022;
    color: #fff;
  }
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

table {
  margin-top: 15px;
}

.btn-group {
  background-color: transparent;
  border: solid 1px #e4e4e4;
  padding: 5px 10px;
  width: 40px;
  height: 30px;
  margin-bottom: 3px;
  text-align: center;

  &:first-child {
    border-radius: 5px 0px 0px 5px;
  }

  &:last-child {
    border-radius: 0px 5px 5px 0px;
  }

  &:hover {
    background-color: #fea022;
    color: #fff;
  }
}

.highlight {
  background-color: #fea022;
  color: white;
  padding: 3px 2px;
}
